<h3>Update Poketrainer Information: </h3>

<%= form_with url: "/poketrainers/#{@poketrainer.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :age %>
  <%= form.text_field :age %>
  <%= form.label :hometown %>
  <%= form.text_field :hometown %>
  <%= form.label :gym_badges %>
  <%= form.text_field :gym_badges %>
  <%= form.label :has_bike %>
  <%= form.text_field :has_bike %>
  <%= form.submit 'Update Poketrainer' %>
<% end %>