<%= link_to 'Pokemon Index', '/pokemons' %>
<%= link_to 'Poketrainer Index', '/poketrainers' %>

<h1><%= @poketrainer.name %></h1>

<%= link_to 'Update Poketrainer', "/poketrainers/#{@poketrainer.id}/edit" %>
<%= link_to "#{@poketrainer.name}'s Pokemon", "/poketrainers/#{@poketrainer.id}/pokemons" %>

<ul>
  <li>Age: <%= @poketrainer.age %></li>
  <li>Hometown: <%= @poketrainer.hometown %></li>
  <li>Gym Badges: <%= @poketrainer.gym_badges %></li>
  <li>Has a bike: <%= @poketrainer.has_bike %>
  <li>Number of Pokemon caught: <%= @poketrainer.pokemon_count %>
</ul>