<%= link_to 'Poketrainer Index', '/poketrainers' %>

<h1>Pokemon Index Page</h1>

<%= form_with url: "/pokemons", method: :get, local: true do |form| %>
  <%= form.text_field :exact_match_search %>
  <%= form.submit 'Exact Match Search' %>
<% end %>
<%= form_with url: "/pokemons", method: :get, local: true do |form| %>
  <%= form.text_field :partial_match_search %>
  <%= form.submit 'Partial Match Search' %>
<% end %>

<% @pokemons.each do |pokemon| %>
  <h3><%= pokemon.name %></h3>
  <ul>
    <li>Level: <%= pokemon.level %></li>
    <li>Primary Type: <%= pokemon.primary_type %></li>
    <li>Secondary Type: <%= pokemon.secondary_type %></li>
    <li>Temperment: <%= pokemon.temperment %></li>
  <% if pokemon.bonded_to_trainer %>
    <li>Bonded to trainer?: <%= pokemon.bonded_to_trainer %></li>
  <% end %>
  </ul>
  <%= button_to "Edit #{pokemon.name}", "/pokemons/#{pokemon.id}/edit", method: :get %>
  <%= button_to "Delete #{pokemon.name}", "/pokemons/#{pokemon.id}", method: :delete %>
<% end %>
