<ul>
  <li><a href='/pokemons'>Pokemon Index</a></li>
  <li><a href='/poketrainers'>Poketrainer Index</a></li>
</ul>
<h1><%= @pokemon.name %></h1>
<ul>
  <li>Level: <%= @pokemon.level %></li>
  <li>Primary Type: <%= @pokemon.primary_type %></li>
  <li>Secondary Type: <%= @pokemon.secondary_type %></li>
  <li>Temperment: <%= @pokemon.temperment %></li>
  <li>Bonded to trainer?: <%= @pokemon.bonded_to_trainer %></li>
</ul>

<%= link_to 'Update Pokemon', "/pokemons/#{@pokemon.id}/edit" %>
<%= link_to 'Delete Pokemon', "/pokemons/#{@pokemon.id}", method: :delete %>