
<%= link_to 'Poketrainer Index', '/poketrainers' %>
<%= link_to 'Pokemon Index', '/pokemons' %>

<h1><%= @poketrainer.name %>'s Pokemon</h1>

<%= link_to 'Catch Pokemon', "/poketrainers/#{@poketrainer.id}/pokemons/new" %>
<%= link_to 'Sort Alphabetically', { sort_by: "name_asc" } %>

<% @pokemons.each do |pokemon| %>
  <h3><%= pokemon.name %></h3>
  <ul>
    <li>Level: <%= pokemon.level %></li>
    <li>Primary Type: <%= pokemon.primary_type %></li>
    <li>Secondary Type: <%= pokemon.secondary_type %></li>
    <li>Temperment: <%= pokemon.temperment %></li>
    <li>Bonded to trainer?: <%= pokemon.bonded_to_trainer %></li>
  </ul>
  <%= link_to "Edit #{pokemon.name}", "/pokemons/#{pokemon.id}/edit" %>
<% end %>