<%= link_to 'Poketrainer Index', '/poketrainers' %>
<%= link_to 'Pokemon Index', '/pokemons' %>

<h3>Catch New Pokemon</h3>

<%= form_with url: "/poketrainers/#{@poketrainer.id}/pokemons", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :level %>
  <%= form.text_field :level %>
  <%= form.label :primary_type %>
  <%= form.text_field :primary_type %>
  <%= form.label :secondary_type %>
  <%= form.text_field :secondary_type %>
  <%= form.label :temperment %>
  <%= form.text_field :temperment %>
  <%= form.label :bonded_to_trainer %>
  <%= form.text_field :bonded_to_trainer %>
  <%= form.submit 'Catch Pokemon' %>
<% end %>